@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Rye&display=swap');


.teacher-list {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}

.search-form {
    height: 50px;
    width: 100%;
}

.search-form input {
    display: flex;
    height: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}

.search-form input[type=text] {
    font-family: 'Abril Fatface', cursive;
}